@media (max-width: 1199px) {
    .social-bottom{
        display: none !important;
    }
    .footer .menu-bottom ul li a {
        padding: 12px 12px 0px 12px;
    }
    .address-price-phone .address{
        width: 50%;
    }
    .address-price-phone .price{
        width: 28%;
    }
    .header .center-content-col .list-items .item .left-item .price{
        font-size: 13px;
    }
    .info-post-detail .left{
        width:100%;
    }
    .p-title-no-area{
        border-left: 7px solid #0c834a;
        border-bottom: 1px dotted #0c834a;
    }
    .info-post-detail .right{
        width:50%;
    }
    .header .center-content-col{
        width: 57%;
    }
    .header .last-col{
        width: 20%;
    }
    .menu-log-reg .log-reg .login-signup{
        margin: 12px 1px 0px 0px;
        font-size:12px;
    }
    .menu-log-reg .log-reg .login-signup img{
        display: none;
    }
    .logo .social{
        left: -30px;
    }
    .info-post-detail .right .img-bank{
        margin-left: 6px;
    }
    .info-post-detail .right .price{
        margin-left: 6px;
    }
    .list-news-page .detail-news img{
        width: 100% !important;
    }
    .cover-tab-free ul li .item-cover-one .free-post-input{
        width: 10vw;
        background: url(../images/icon-selectbox-small.png) 100% / 11px no-repeat !important;
    }
    .cover-tab-free ul li .free-post-inp-text{
        width: 10vw;
    }
    .cover-tab-free ul li .inp-tieu-thu {
        width: 13vw;
    }
    .cover-tab-free ul li .inp-address {
        width: 24vw;
    }
    .common-info .cover-div-first .div-one , .common-info .cover-div-first .div-two, .common-info .cover-div-first .div-three {
        width: 50%;
    }
    .div-post-normal ul li label {
        width: 16%;
    }
    .div-post-normal ul li .inp-price {
        width: 15vw;
    }
    .div-post-normal ul li .code {
        width: 8vw;
    }
    .div-post-normal ul li .img-cap {
        width: 6.5vw;
    }
    .div-post-vip .div-item-vip-post .inp-normal {
        width: 11vw;
    }
    .div-post-vip .div-item-vip-post .img-cap {
        margin-top: 2px;
        width: 11vw;
    }
    .div-post-vip .div-item-vip-post .code {
        width: 11vw;
    }
    .item-support-page{
        width: 98%;
    }
    .info-post-detail .right {
        width: 100%;
    }
    .p-title-area {
        width: 100%;
    }
    .info-post-detail .right .price {
        width: 50%;
        padding: 10% 0px 0px 0px;
        margin-left: 0px;
        text-align: center;
        position: relative;
    }
    .info-post-detail .right .img-bank {
        float: right;
        width: 50%;
        margin-left: 0px !important;
    }
    .right .cover-price-bank{
        background: #eaeaea;
        float: left;
        width: 98%;
    }
    .info-post-detail .right .price img {
        width: 35px;
        position: absolute;
        top: 25%;
        left: 43%;
    }
    .item-support-page img{
        width: auto;
        height: 78px;
    }
    .item-support-page {
        height: 80px;
    }
    .item-support-page .cover-info-support{
        width: 77%;
    }
    .post-relate-type .item-relate-post{
        width: 48.5%;
    }
}
@media (max-width: 980px) {
    .first-col , .last-col{
        display: none;
    }
    .header .center-content-col {
        width: 100%;
    }
    .click-menu-branch{
        display: none;
    }
    .header{
        width: 99%;
    }
    .header-mobile{
        display: block;
    }
    .menu-header-mobile{
        float: left;
        margin-top: 23px;
        margin-left: 4px;
    }
    .header-mobile .logo-mobile{
        text-align: center;
        padding-top: 5px;
        width: 100%;
    }
    .header-mobile .logo-mobile .toggle-form-search{
        float: right;
        width: 35px;
        margin-top: 18px;
        margin-right: 7px;
    }
    .header-mobile .logo-mobile a img{
        height: 70px;
    }
    .menu-header-mobile .dropdown .dropdown-menu{
        left: 0px;
    }
    .menu-header-mobile .dropdown .icon-menu img{
        height: 25px;
    }
    .post-free-mobile{
        display: block;
        float: left;
        width: 100%;
        margin-top: 5px;
    }
    .header .bt-reg-free{
        background: url(../images/bg-bt-reg-free.png);
        padding: 13px 20px;
        border-radius: 5px;
        float: left;
        text-align: center;
        color: #fff;
        text-decoration: none;
        width: 100%;
        font-size: 20px;
        cursor: pointer;
        text-transform: uppercase;
    }
    .header .center-content-col .filter .form-filter {
        height: auto;
    }
    .list-services-mobile{
        float: left;
        width: 100%;
    }
    .list-services-mobile .item-service{
        float: left;
        width: 25%;
        padding: 8px;
        text-align: center;
    }
    .list-services-mobile .item-service a img{
        float: none;
        width: 60%;
        border-radius: 10px;
    }
    .header .center-content-col .filter .form-filter input{
        width: 100%;
        border-right:none;
        border-radius: 6px;
        height: 38px;
    }
    .header .center-content-col .filter .form-filter select{
        width: 100%;
        border-right:none;
        border-radius: 6px;
        height: 38px;
    }
    .header .center-content-col .filter .form-filter-2 {
        width: 100%;
    }
    .header .center-content-col .filter .form-filter-2 select {
        width: 100%;
        border-right:none;
        border-radius: 6px;
    }
    .header .center-content-col .filter .form-filter {
        margin-bottom: 0px;
        background:none;
    }
    .inp-filter {
        background: url(../images/icon-arrow-filter.png) #0c834a 98% / 9px no-repeat !important;
    }
    .header .center-content-col .filter .bt-submit-filter {
        width: 30%;
        margin-left: 35%;
        float: left;
        margin-bottom: 10px;
        margin-top: 5px;
    }
    .header .center-content-col .filter {
        border-bottom: 2px dotted #0c834a;
        margin-bottom: 10px;
    }
    .img-header-news-page {
        width: 100%;
    }
    .item-support-page {
        margin-left: 0px;
        height: 71px;
        width: 100%;
    }
    .item-support-page img {
        width: 70px;
        height: 70px;
    }
    .item-support-page .cover-info-support {
        width: 75%;
    }
    .item-support-page .cover-info-support p, .item-support-page .cover-info-support .p-phone, .item-support-page .cover-info-support h4 {
        font-size: 11px;
    }
    .modal-dialog {
        width: 95%;
    }
    .footer-mobile{
        display: block;
        float: left;
        width: 100%;
    }
    .footer{
        display: none;
    }
    .footer-mobile .top-page{
        background: #0c834a;
        width: 100%;
        float: left;
        text-align: center;
        color: #fff;
        height: 35px;
        line-height: 38px;
    }
    .footer-mobile .top-page img{
        width: 16px;
        margin-top: -4px;
    }
    .footer-mobile ul{
        list-style: none;
        padding: 0px;
        background: #d2d2d2;
        float: left;
        margin-bottom: 0px;
        width: 100%;
    }
    .footer-mobile ul li{
        float: left;
        width: 100%;
        border-top: 1px solid #999;
    }
    .footer-mobile ul li a{
        color: #242424;
        padding: 8px;
        float: left;
    }
    .footer-mobile .info{
        float: left;
        background: #0c834a;
        text-align: center;
        width:100%;
    }
    .footer-mobile .info p{
        color: #fff000;
        margin: 8px 0px 0px 0px;
    }
    .footer-mobile .info span{
        color: #fff;
        width: 100%;
        font-size: 13px;
        float: left;
    }
    .header .center-content-col .list-items .item .inner-item {
        width: 100%;
    }
    .header .center-content-col .list-items .item {
        width: 50%;
        float: left;
    }
    .slide-top, .filter{
        display: none;
    }
    .header .center-content-col .paging p{
        font-size:14px;
    }
    .slide-show-mobile{
        margin-top: 5px;
        display: none;
    }
    .header .center-content-col .list-items .item .hover-item .cover-zoom {
        width: 50%;
        padding-top: 20px;
    }
    .address-price-phone .price{
        width: 100%;
    }
    .address-price-phone .address{
        width: 100%;
        margin-top: -2px;
        border-right: none;
        line-height: 18px;
    }
    .address-price-phone{
        height:auto;
    }
    .address-price-phone .phone {
        margin-top: -10px;
        margin-bottom: 0px;
        font-weight:bold;
    }
    .cover-tab-free ul li .item-cover-one {
        width: 100%;
    }
    .cover-tab-free ul li label {
        margin-left: 0px !important;
    }
    .cover-tab-free ul li .item-cover-one .free-post-input {
        width: 60%;
        margin-top: 5px;
    }
    .cover-tab-free ul li .free-post-inp-text {
        width: 60%;
        margin-top: 5px;
    }
    .cover-tab-free ul li .item-cover-two {
        width: 100%;
    }
    .parent-img-upload {
        width: 100%;
    }
    .div-post-normal ul li .img-cap {
        width: 28.5%;
    }
    .div-post-normal ul li .code {
        width: 30%;
    }
    .div-post-normal ul li label {
        width: 30%;
    }
    .div-post-normal ul li .inp-price {
        width: 60%;
    }
    .common-info .cover-div-first .div-one, .common-info .cover-div-first .div-two, .common-info .cover-div-first .div-three {
        width: 100%;
    }
    .common-info .cover-div-first .calendar-inp {
        margin-bottom: 5px;
        width: 60%;
    }
    .common-info .cover-div-first .cover-radio {
        float: left;
        margin-left: 10%;
    }
    .guide-mobile ul li div{
        width: 50% !important;
    }
    .guide-mobile{
        display: block;
    }
    .info-post-detail .guide-pc{
        display: none;
    }
    .info-post-detail .right .price {
        font-size: 18px;
    }
    .info-post-detail .right .price img {
        width: 25px;
        top: 14%;
        left: 43%;
    }
    .post-relate-type .item-relate-post {
        width: 98%;
    }
    .item-news-page .cover-info-item-news .summary-news-page, .item-news-page .cover-info-item-news .p-post-by{
        margin-left: 0px;
    }
    .pagination>li>a, .pagination>li>span {
        padding: 2px 7px;
    }
    .div-post-vip .div-item-vip-post .inp-normal {
        width: 60%;
        margin-bottom: 5px;
    }
    .div-post-vip .div-item-vip-post label {
        width: 30%;
    }
    .div-post-vip .div-item-vip-post {
        width: 100%;
    }
    .div-post-vip .div-item-vip-post .img-cap {
        width: 28.5%;
    }
    .div-post-vip .div-item-vip-post .code {
        width: 30%;
    }
    .slide-show-mobile .img-slide{
        width:100%;
    }
    .detail-po .modal-content{
        width: 80% !important;
    }
    .cover-img-post .item-img-detail{
        height:15vw;
    }
}
@media (max-width: 600px){
    .header .center-content-col .list-items .item {
        width: 100%;
    }
    .list-services-mobile .item-service a img {
        width: 100%;
    }
    .header .center-content-col .list-items .item .right-item {
        width: 65%;
    }
    .header .center-content-col .list-items .item .left-item {
        width: 35%;
    }
    .detail-po .modal-content{
        width: 80% !important;
    }
    .cover-img-post .item-img-detail{
        height:15vw;
    }
}

