.map-container{
	position: relative;
	width: 100%;
}
.map-container .map-search{
	/*style div map-search*/
	padding-top: 10px;
	padding-bottom: 10px;
}
.map-container .map-in{
	/*style cho input*/
	width: 55%;
}
.map-search .map-search-btn{
	/*style cho button search*/
	width: 20%;
	padding: 5px;
	float: left;
}
.map-container .map-button{
	/*style div map-button*/
	width: 100%;
	float: left;
}
.map-container .map-btn{
	width: 100%;
	background: #0c834a;
	color: white;
}
.map-container .map-content{
	/*style map content*/
	width: 100vw;
	height: 100vh;
	background: #555;
}
.modal-content {
	background: white;
}
/*style mobile*/
@media (max-width: 768px) {
	.map-container{
		padding: 0px;
		width: 100%;
	}
	.map-container .map-search{
		position: absolute;
		width: 100%;
		top: 15px;
		z-index: 1;

	}

	.map-search .map-search-btn{
		width: 22%;
		padding: 5px;
		margin-left: 1%;
		float: left;
		background: #0c834a;
	color: white;
	}
	.map-container .map-button{
		position: absolute;
		left: 0;
		bottom: 25px;
		z-index: 1;
		padding: 0px;
	}

}
.map-icon-label .map-icon {
	font-size: 24px;
	color: #FFFFFF;
	line-height: 48px;
	text-align: center;
	white-space: nowrap;
}