.container-fluid {
    position: relative;
    float: left;
    width:100%;
    /*height: 100vh;*/
    padding-right: 0px;
    padding-left: 0px;
    background: url("../images/bg-all-small.png");
}
.header{
    float: left;
    width:100%;
    height:auto;
}
.header .first-col{
    width: 22%;
    height: inherit;
    background: #ccc;
    float: left;
    box-shadow: 1px 1px 7px 1px #ccc;
}
.cover-logo{
    background: url("../images/bg-logo.png");
    background-size: cover;
    width: 100%;
    height: auto;
    float: left;
}
.menu-log-reg{
    float: left;
    width: 100%;
}
.menu-log-reg .menu{
    float: left;
}
.menu-log-reg .log-reg{
    float: right;
}
.menu-log-reg .log-reg .login-signup{
    margin: 12px 5px 0px 0px;
    float: left;
    color: #000;
    font-size:0.8vw;
    cursor: pointer;
    border: 1px dotted #f0f0f0;
    padding: 2px 3px;
}
.menu-log-reg .log-reg .login-signup:hover{
    border:1px solid #555555;
    padding: 2px 3px;
    border-radius: 4px;
}
.menu-log-reg .log-reg .icon-avatar{
    float: left;
    margin-top: 3px;
    margin-right: 5px;
    cursor: pointer;
    width: 40px;
    height: 40px;
}
.menu-log-reg .log-reg .icon-avatar:hover{
    opacity: 0.8;
}
.cover-logout{
    top: 43px !important;
    left: -176px !important;
    background: #fff !important;
    border: 1px solid #0c834a !important;
    width: 215px;
    opacity: 0.9;
    border-radius: 3px !important;
}
.cover-logout .cover-avatar-logout{
    border-bottom: 1px solid #0c834a;
    float: left;
}
.upload-avatar:focus {
    outline: none;
}
.change-ava{
    color: #f0f0f0;
    background: #999;
    position: absolute;
    opacity: 0.9;
    bottom: 3px;
    left: 20px;
    overflow: hidden;
    padding: 0px 10px;
    border-bottom-left-radius: 100%;
    font-style: italic;
    font-size: 10px;
    border-bottom-right-radius: 100%;
}
.upload-avatar{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
    padding-left: 100px;
    cursor: pointer;
}
.cover-logout .cover-avatar-logout img{
    float: left;
    width: 55px;
    margin: 3px;
    height:50px;
}
.cover-logout .cover-avatar-logout .info-user{
    width: 68%;
    float: left;
    margin-top: 10px;
    font-weight: 600;
}
.cover-logout .cover-avatar-logout .info-user p{
    float: left;
    font-size: 12px;
    padding: 0px;
    margin: 0px;
}
.cover-logout .cover-avatar-logout .info-user span{
    color: #0c834a;
}
.cover-logout a.bt-logout-homepage{
    color: #fff;
    background: #0c834a;
    border-radius: 3px;
    padding: 3px 6px;
    font-size: 13px;
    margin: 7px 0px 3px 0px;
}
.cover-logout a.bt-logout{
    float: right;
    margin-right: 8px;
}
.cover-logout a.bt-homepage{
    float: left;
    margin-left: 8px;
}
.menu-log-reg .icon-menu{
    margin: 15px 0px 0px 15px;
    float: left;
    border: none;
    cursor: pointer;
    background: none;
}
.dropdown-menu{
    top: 25px;
    left: 15px;
    background: url("../images/bg-on-menu.png");
    border: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;;
}
.dropdown-menu .close-menu{
    cursor: pointer;
}
.dropdown-menu>li a.last{
    margin-bottom: -4px;
}
.dropdown-menu>li>a{
    color: #fff;
    float: left;
    line-height: 30px;
    background: url("../images/bg-hover-menu.png");
    width: 100%;
    margin: 3px 0px;
    padding: 3px 20px 3px 10px;
}
.dropdown-menu>li>a:hover{
    background: #1d774c;
    color:#fff;
}
.logo, .slogan{
    text-align: center;
}
.logo img.logo-vno{
    width: 50%;
}
.logo .social{
    position: absolute;
    top: 55px;
    left: -17px;
}
.logo .social ul li a:hover{
    opacity: 0.6;
}
.logo .social ul li{
    list-style: none;
    line-height: 35px;
}
.slogan img{
    width: 170px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.slide-show{
    background: url("../images/bg-slide-show.png");
    background-size: cover;
    width: 100%;
    height: auto;
    float: left;
}
.slide-show .info-slide{
    float: left;
    width: 100%;
}
.slide-show .info-slide ul{
    padding: 0px 10px;
}
.slide-show .info-slide ul li{
    list-style: none;
    width: 100%;
    float: left;
    font-size: 13px;
}
.slide-show .info-slide ul li .first-col-info{
    width: 40%;
    float: left;
}
.slide-show .info-slide ul li .last-col-info{
    width: 60%;
    float: right;
}
.slide-show p.sdt-address{
    color: #048245;
    font-weight: 600;
}
.slide-show .bt-detail-slide{
    color: #fff;
    padding: 0px 12px;
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
.slide-show .bt-detail-slide a{
    background: #0c834a;
    color: #fff;
    float: right;
    font-size: 1vw;
    padding: 0.7vw;
    border-radius: 3px;
}
.slide-show .bt-detail-slide .price{
    background: #393939;
    float: left;
    text-align: center;
    padding: 0.09vw 1vw;
    border-radius: 3px;
    font-size: 1.2vw;
}
.slide-show .bt-detail-slide .price small{
    float: left;
    margin-top: -8px;
    margin-left: 30px;
    font-size: 14px;
    padding-bottom: 2px;
}
.slide-show .name-slide{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
.slide-show img.img-slide{
    width: 100%;
    margin: 0px auto;
}
.slide-show .bt-detail-slide .icon-arrow{
    margin-left: 12px;
    width: 7px;
}
.header .center-content-col{
    width: 62%;
    height: inherit;
    float: left;
    position: relative;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-bottom: 5px;
}
.header .center-content-col .filter{
    padding: 5px 0px;
    float: left;
    width: 100%;
}
.header .last-col .avatar .bt-reg-free{
    background: url(../images/bg-bt-reg-free.png);
    padding: 10px 20px;
    border-radius: 5px;
    float: left;
    text-align: center;
    color: #fff;
    text-decoration: none;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
}
.header .last-col .avatar .bt-reg-free:hover{
    opacity:0.8;
}
.header .center-content-col .filter .bt-reg-free:hover{
    opacity: 0.7;
}
.header .center-content-col .filter .form-filter{
    background: #0c834a;
    float: left;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 5px;
}
.header .center-content-col .filter .form-filter input{
    background: #0c834a;
    width: 34%;
    float: left;
    border: none;
    height: 36px;
    color: #fff;
    margin: 2px 0px;
    border-right: 1px solid #9ecdb7;
    border-radius: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.header .center-content-col .filter .form-filter input::-webkit-input-placeholder {
    color: #e9f1ec;
}
.header .center-content-col .filter .form-filter select{
    float: left;
    width: 22%;
    background: #0c834a;
    border: none;
    color: #e9f1ec;
    margin: 2px 0px;
    height: 36px;
    border-right: 1px solid #9ecdb7;
    border-radius: 0px;
}
.header .center-content-col .filter .form-filter-2{
    width: 84%;
}
.header .center-content-col .filter .form-filter-2 select{
    width:25%;
}
.header .center-content-col .filter .form-filter select option{
    color:#030303;
}
.header .center-content-col .filter .form-filter select.last{
    border-right: none;
}
.slide-top{
    float: left;
}
.header .center-content-col .filter .bt-submit-filter{
    background: url(../images/bt-search.png);
    background-size: cover;
    padding: 10px 20px;
    border: none;
    width: 15%;
    height: 40px;
    float: right;
    border-radius: 7px;
}
.header .center-content-col .filter .bt-submit-filter:hover{
    opacity:0.7;
}
.header .center-content-col .paging{
    background: url(../images/bg-paging.png);
    width: 100%;
    margin: 5px 0px;
    float: left;
    height: 44px;
    color: #f0f0f0;
    position: relative;
}
.header .center-content-col .paging .menu-branch{
    position: absolute;
    background: url(../images/bg-menu-branch.png);
    width: 100%;
    margin-top: 18px;
    padding: 15px;
    text-align: center;
    left: 0px;
}
.header .center-content-col .paging .menu-branch .all-branch{
    color: #fff;
    font-weight: 600;
}
.header .center-content-col .paging .menu-branch a{
    margin: 5px;
    padding-bottom: 4px;
    line-height: 30px;
}
.header .center-content-col .paging .menu-branch a:hover{
    border-bottom: 2px solid #fff;
    text-decoration: none;
}
.header .center-content-col .paging .click-menu-branch{
    cursor: pointer;
}
.header .center-content-col .paging p{
    padding: 12px 0px 5px 10px;
    float: left;
    font-size: 16px;
}
.header .center-content-col .paging span{
    float: right;
    background: url(../images/bg-chose-car.png);
    padding: 12px 10px 10px 10px;
    font-size: 16px;
    border-left: 2px solid #999;
}
.header .center-content-col .paging span:hover{
    opacity:0.8;
}
.header .center-content-col .paging span .icon-arrow-down{
    margin-left: 20px;
}
.header .center-content-col .list-items{
    margin-right: -5px;
    margin-top: 8px;
    float: left;
}
.header .center-content-col .list-items .item{
    padding-right: 5px;
    padding-left: 0px;
    margin-bottom: 15px;
}
.header .center-content-col .list-items .item .inner-item{
    border: 1px solid #ccc;
    float: left;
}
.header .center-content-col .list-items .item .hover-item{
    background: url(../images/bg-hover-menu.png);
    width: 98%;
    height: 99%;
    position: absolute;
    display: none;
    text-align: center;
}.header .center-content-col .list-items .item .hover-item .cover-zoom{
     width: 8vw;
     margin: 0px auto;
 }
.header .center-content-col .list-items .item .hover-item img{
    margin-top: 1.5vw;
}
.header .center-content-col .list-items .item .hover-item a.detail{
    color: #fff;
    width: 100%;
    float: left;
}
.header .center-content-col .list-items .item .left-item{
    float: left;
    width: 45%;
}
.header .center-content-col .list-items .item .left-item img{
    float: left;
    width: 100%;
    min-width: 50px;
    height: 94px;
}
.header .center-content-col .list-items .item .left-item .price{
    background: #0c834a;
    float: left;
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 7px 0px;
    font-size: 0.85vw;
}
.header .center-content-col .list-items .item .right-item{
    float: left;
    width: 55%;
    padding: 0px 6px;
}
.header .center-content-col .list-items .item .right-item h4{
    text-align: center;
    font-size: 13px;
    color: #0c834a;
    border-bottom: 1px solid #0c834a;
    padding: 0px 5px;
    margin-top: 5px;
    text-overflow: ellipsis;
    margin-bottom: 5px;
    overflow: hidden;
    white-space: nowrap;
}
.header .center-content-col .list-items .item .right-item p{
    margin: 0px;
    font-size: 12.5px;
    line-height: 16px;
}
.header .center-content-col .list-items .item .right-item span{
    color:#0c834a;
}
.header .center-content-col .list-items .item .right-item .phone-address-item{
    font-weight:600;
    color:#0c834a;
}
.header .last-col{
    width: 15%;
    height: inherit;
    float: left;
    background: #efefef;
    box-shadow: 1px 0px 12px 1px #ccc;
}
.header .last-col .avatar{
    width: 100%;
    float: left;
    padding: 5px;
    background: #dfdfdf;
}
.header .last-col .avatar p{
    float: left;
    width: 80%;
    font-size: 12px;
    color: #fff;
    height: 40px;
    padding: 9px 0px 0px 5px;
}
.header .last-col .avatar img{
    float: right;
    padding: 8px 5px 0px 0px;
    width: 38px;
}
.header .last-col .avatar a{
    color:#feffbf;
}
.header .last-col .list-services{
    background: #dfdfdf;
    width: 100%;
    float: left;
    padding: 0px 5px 5px 5px;
}
.header .last-col .list-services .item-service{
    background: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    float: left;
    width: 100%;
    margin-bottom: 5px;
    height: 50px;
}
.header .last-col .list-services .item-service .icon-service{
    background: #d66500;
    float: left;
    padding: 5px 1px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 27%;
    height:50px;
}
.header .last-col .list-services .item-service .icon-arrow-right{
    float: right;
    margin-top: -9px;
}
.header-detail-news h3 a{
    color: #333333;
    text-transform: uppercase;
    font-size: 18px;
}
.header-detail-news h3 a:hover{
    color: #0c834a;
    text-decoration: none;
}
.header .last-col .list-services .item-service p{
    width: 73%;
    float: left;
    padding: 10px 5px 4px 5px;
    line-height: 16px;
    font-size: 12px;
    margin: 0px;
    color: #585858;
}
.header .last-col .list-news{
    background: #efefef;
    float: left;
    width: 100%;
    padding: 0px 5px;
}
.header .last-col .list-news .title-list-news{
    color: #056839;
    font-size: 14px;
    border-top: 1px solid #056839;
    padding: 7px 0px;
    text-align: center;
    border-bottom: 1px solid #056839;
    margin-top: 10px;
}
.header .last-col .list-news .title-list-news img{
    width: 22px;
    margin-right: 4px;
}
.header .last-col .list-news .item-news{
    width: 100%;
    float: left;
    margin-bottom: 10px;
    height:auto;
}
.header .last-col .list-news .item-news img{
    width: 100%;
    height:65px;
    border-bottom: 3px solid #797979;
    margin-bottom: 3px;
}
.header .last-col .list-news .item-news img:hover{
    opacity: 0.8;
}
.header .last-col .list-news .item-news span{
    float: left;
    width: 100%;
    color: #999;
    font-size: 12px;
}
.header .last-col .list-news .item-news .title-item-news{
    color: #000;
    width: 100%;
    float: left;
    margin-top: 1px;
    text-transform: uppercase;
    font-size: 11px;
}
.header .last-col .list-news .item-news .bt-detail-news{
    float: right;
    background: #676767;
    color: #fff;
    padding: 1px 7px 0px 7px;
    border-radius: 10px;
    font-size: 12px;
}
.header .last-col .list-news .item-news .bt-detail-news:hover{
    text-decoration: none;
    opacity: 0.8;
}
.footer{
    background: #d2d2d2;
    width:100%;
    height:auto;
    float: left;
}
.footer .info{
    background: #0c834a;
    width: 36%;
    float: left;
    height: 67px;
    color: #fff;
    padding: 5px;
}
.footer .info p{
    font-weight: normal;
    width: 100%;
    margin-bottom: 1px;
    color: rgb(243, 237, 2);
}
.footer .info span{
    width: 100%;
    float: left;
    font-size: 0.8vw;
}
.footer .menu-bottom{
    float: left;
    margin-left: 10px;
}
.footer .menu-bottom ul{
    margin: 0px;
    padding: 0px;
}
.footer .menu-bottom ul li{
    display: inline;
    float: left;
}
.footer .menu-bottom ul li a{
    padding: 12px 6px 0px 6px;
    float: left;
    color: #2d2d2d;
    font-size: 0.9vw;
    height: 67px;
    text-align: center;
}
.footer .menu-bottom ul li a:hover{
    background: #393939;
    text-decoration: none;
    color:#fff;
}
.arrow-before-title{
    width:11px;
}
.social-bottom{
    float: right;
    padding-top: 17px;
    margin-right: 3vw;
    font-size: 0.9vw;
}
.social-bottom a{
    float: left;
    margin-left: 0.4vw;
}
.social-bottom a img{
    width:70%;
}
.social-bottom p{
    float: left;
    margin-left: 1vw;
    margin-top: 5px;
    line-height: 4px;
}
.social-bottom p span{
    color: #0c834a;
}
.social-bottom a img:hover{
    opacity:0.8;
}
.a-one-line{
    padding-top: 24px !important;
}
.list-salon{
    float: left;
    width: 100%;
    border-top: 2px dotted #0c834a;
    margin-top: 10px;
    padding-top: 7px;
    bottom: -75px;
    position: absolute;
}
.list-salon .item{
    float: left;
    margin-left: 10px;
    width: 300px;
}
.list-salon .item img{
    float: left;
    height: 52px;
    width: 52px;
    border-radius: 50%;
}
.list-salon .item .caption{
    float: left;
    width: 235px;
    margin-left: 6px;
    border-right: 2px dotted #0c834a;
    height: 55px;
}
.list-salon .item .caption h3{
    font-size: 14px;
    color: #0c834a;
    float: left;
    font-weight: 600;
    margin-top: 7px;
    text-transform: uppercase;
}
.list-salon .item .caption p{
    float: left;
    margin-top: -8px;
    font-size: 12px;
}
.slide-top .carousel-control.right{
    background: url(../images/icon-next.png) 100%;
    background-repeat: no-repeat;
    width: 2%;
}
.slide-top .carousel-control.left{
    background: url(../images/icon-prev.png) 100%;
    background-repeat: no-repeat;
    width: 2%;
}
.paging-div{
    width: 100%;
    float: left;
    text-align: center;
}
.paging-div .pagination{
    margin: 0px;
}
.pagination>li>a, .pagination>li>span{
    color: #0c834a;
    padding: 3px 10px;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
    background-color: #0c834a;
    border-color: #0c834a;
}
.img-logo-popup{
    width: 16%;
    float: left;
    margin-left: 30px;
}
.img-slogan-popup{
    float: right;
    margin-right: 45px;
    margin-top: 15px;
    width: 55%;
}
.modal-header .close img{
    margin: -7px -7px 0px 0px;
}
.modal-content{
    background: #e5e5e5;
    box-shadow: 1px 1px 12px 2px #999;
}
.p-in-pop{
    color: #056839;
    text-align: center;
}
.modal-dialog{
    width: 480px;
}
.form-reg ul li{
    list-style: none;
    float: left;
    width: 100%;
    line-height: 25px;
    text-align: center;
}
.form-reg ul li span{
    float: left;
    width: 130px;
    padding-top: 15px;
    color: #3e3e3e;
    text-align: left;
}
.form-reg ul li .inp{
    float: left;
    width: 60%;
    color: #999;
    border: none;
    border-bottom: 1px solid #aeaeae;
    box-shadow: none;
    border-radius: 0px;
    background: none;
}
.form-reg ul li .bt-in-pop{
    background: #056839;
    border: none;
    padding: 5px 80px;
    border-radius: 5px;
    font-size: 16px;
    margin: 25px;
    color: #fff;
    cursor: pointer;
}
.form-reg ul li .bt-in-pop:hover{
    opacity:0.8;

}
.form-reg .a-forgot{
    width: 100%;
    float: left;
    color: #333;
    text-align: center;
    padding: 5px 0px;
}
.form-reg .spa-reg{
    text-align: center;
    width: 100%;
    float: left;
}
.form-reg .a-regs{
    color: #056839;
}
.img-line{
    height: 2px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: -5px;
}
.social-popup{
    float: left;
    width: 100%;
    text-align: center;
    margin: 10px 0px;
}
.social-popup a img{
    height: 25px;
    margin-left: 15px;
}
.after-reg{
    width: 100%;
    padding-bottom: 35px;
    text-align: center;
}
.after-reg h3{
    float: left;
    width: 100%;
    color: #056839;
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
}
.after-reg h4{
    float: left;
    width: 100%;
    text-align: center;
    padding: 0px 50px;
    line-height: 24px;
    margin-bottom: 30px;
}
.p-in-pop-reg {
    color: #056839;
    text-align: center;
    margin-top: 30px;
}
#click-to-log-popup{
    background: #056839;
    color: #fff;
    padding: 15px 20px;
    font-size: 14px;
    border-radius: 10px;
    cursor: pointer;
}
#click-to-log-popup:hover{
    opacity: 0.8;
}
.banner-profile{
    float: left;
}
.banner-profile .img-banner-profile{
    width: 100%;
    height:150px;
}
.banner-profile .cover-avatar-profile{
    position: absolute;
    float: left;
    margin-top: 1vw;
    margin-left: 1vw;
}
.banner-profile .cover-avatar-profile img{
    width: 100px;
    float: left;
    height: 100px;
}
.banner-profile .cover-avatar-profile p{
    float: left;
    color: #fff;
    font-size: 18px;
    margin-top: 2vw;
    margin-left: 10px;
}
.ul-cover-tab{
    float: left;
    border: none;
    width: 100%;
    margin-top: 15px;
    text-align: center;
}
.ul-cover-tab li{
    display: inline;
    margin-right: 45px;
}
.ul-cover-tab li a{
    border: 1px solid #0c834a;
    padding: 9px 5vw;
    font-size: 1.1vw;
    background: #fff;
    color: #2d2d2d;
}
.ul-cover-tab li.active a{
    background: #0c834a;
    text-decoration: none;
    color:#fff;
}
.ul-cover-tab li a:hover{
    background: #0c834a;
    text-decoration: none;
    color:#fff;
    opacity:0.8;
}
.cover-tab{
    float: left;
    width: 100%;
    border-top: 1px solid #0c834a;
    margin-top: 7px;
}
#info{
    width: 100%;
    float: left;
    margin-top: 10px;
}
.div-info-user{
    width: 50%;
    float: left;
    border-right: 1px solid #0c834a;
    margin-top: 10px;
    text-align: center;
}
.div-user-info-last{
    border-right:none;
}
.div-info-user h3{
    text-align: center;
    color: #0c834a;
    margin: 8px;
    padding: 0px 15%;
    font-size: 16px;
    line-height: 22px;
}
.div-info-user li{
    list-style: none;
    float: left;
    width: 100%;
    line-height: 25px;
}
.div-info-user li span{
    float: left;
    width: 140px;
    margin-top: 10px;
    text-align: left;
}
.div-info-user li input.text-inp{
    border: none;
    width: 18vw;
    border-bottom: 1px dotted #999;
    background: none;
    float: left;
}
.div-info-user input.bt-complete{
    background: #0c834a;
    border: none;
    color: #fff;
    font-size: 18px;
    padding: 8px 30px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}
.div-info-user input.bt-complete:hover{
    opacity:0.8;
}
#post{
    float: left;
    position: relative;
    width: 100%;
    margin-top: 10px;
}
textarea:focus, input:focus{
    outline: none;
}
.news-page{
    float: left;
    width: 100%;
}
.news-page .header-news{
    width: 100%;
    float: left;
    text-align: center;
    padding-top: 10px;
    border-top: 1px solid #0c834a;
}
.news-page .header-news img.line-header{
    width:100%;
}
.news-page .list-news-page{
    float: left;
    /*height: 700px;*/
    width: 100%;
    /*overflow: auto;*/
}
.item-news-page{
    float: left;
    width: 100%;
    margin-bottom: 25px;
}
.item-news-page .cover-info-item-news{
    float: left;
    width: 70%;
    padding-left: 10px;
    padding-right: 10px;
}
.item-news-page .cover-info-item-news .title-item-news{
    color: #0c834a;
    font-size: 18px;
    text-decoration: none;
}
.item-news-page .cover-info-item-news .title-item-news:hover{
    color: red;
}
.item-news-page .cover-info-item-news .p-post-by{
    margin-left: 20px;
    font-size: 13px;
}
.item-news-page .cover-info-item-news span{
    color: #0c834a;
}
.item-news-page .cover-info-item-news .summary-news-page{
    margin-left: 20px;
    line-height: 20px;
    text-align: justify;
}
.item-news-page .cover-info-item-news .bt-chi-tiet-news{
    background: #676767;
    color: #fff;
    padding: 2px 6px;
    margin-left: 20px;
    font-size: 13px;
    border-radius: 10px;
}
.item-news-page .cover-info-item-news .bt-chi-tiet-news:hover{
    background: #999;
    text-decoration: none;
}
.item-news-page .img-thumb-item-news{
    float: left;
    width: 30%;
    /*min-width: 290px;
    min-height: 137px;*/
    max-width: 290px;
    max-height: 138px;
}
.item-news-page .img-thumb-item-news:hover{
    opacity: 0.8;
    box-shadow: 1px 1px 10px 1px #ccc;
}
.img-header-news-page{
    width: 250px;
}
/*
 *  STYLE 4
 */

#style-4::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar
{
    width: 7px;
    background-color: #0c834a;
}

#style-4::-webkit-scrollbar-thumb
{
    background-color: #0c834a;
    border: 2px solid #0c834a;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;;
}
.header-detail-news{
    border-top: 1px solid #0c834a;
    float: left;
    width: 100%;
}
.header-detail-news h3{
    color: #0c834a;
    font-size: 20px;
    float: left;
    width: 100%;
    margin-top: 15px;
    padding-left: 5px;
}
.header-detail-news p{
    float: left;
    font-size: 13px;
    margin-left: 25px;
    margin-top: -8px;
}
.header-detail-news span{
    color: #0c834a;
}
.list-news-page .detail-news{
    padding: 5px;
}
.list-news-page .detail-news .thumb-item-news{
    width: 100%;
    margin-bottom: 20px;
    float: left;
    max-height: 180px;
}
.related-news{
    border-top: 2px dotted #0c834a;
    margin: 5px;
    float: left;
}
.related-news h3{
    color: #0c834a;
    font-size: 18px;
}
.related-news ul{
    padding-left: 20px;
    margin-top: 15px;
    float: left;
}
.related-news ul li{
    list-style: none;
    float: left;
    width: 100%;
    margin-bottom: 15px;
}
.related-news ul li img:hover{
    opacity:0.8;
}
.related-news ul li img{
    width: 100px;
    height: 65px;
    float: left;
    border-bottom: 4px solid #999;
}
.related-news .cover-related-item-news{
    float: left;
    padding-left: 10px;
}
.related-news .cover-related-item-news .title:hover{
    color: #999;
}
.related-news .cover-related-item-news .title{
    font-size: 14px;
    text-transform: uppercase;
    color: #0c834a;
    text-decoration: none;
}
.related-news .cover-related-item-news p{
    font-size: 13px;
    color: #999;
}
.related-news .cover-related-item-news .bt-detail{
    background: #676767;
    color: #fff;
    padding: 3px 6px;
    font-size: 11px;
    border-radius: 10px;
}
.related-news .cover-related-item-news .bt-detail:hover{
    background: #999;
    text-decoration: none;
}
.detail-post{

}
.detail-post .header-post{
    float: left;
    width: 100%;
    border-top: 1px solid #0c834a;
}
.detail-post .header-post h3{
    text-transform: uppercase;
    color: #0c834a;
    float: left;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
}
.detail-post .header-post p{
    float: left;
    font-size: 13px;
    margin-top: 15px;
    margin-left: 10px;
}
.detail-post .header-post span{
    color: #0c834a;
}
.detail-post .header-post h3 img{
    width: 12px;
    margin-top: -5px;
}
.ul-cover-tabs-post{
    float: left;
    border: none;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-left: 0px !important;
    padding-left: 10px;
}
.ul-cover-tabs-post li{
    display: inline;
    margin-right: 5px;
}
.ul-cover-tabs-post li a{
    border: 1px solid #0c834a;
    padding: 5px 5%;
    margin-right: 1%;
    font-size: 0.95vw;
    text-align: center;
    background: #fff;
    color: #2d2d2d;
    border-radius: 4px;
}
.ul-cover-tabs-post li.active a{
    background: #0c834a;
    text-decoration: none;
    color:#fff;
}
.ul-cover-tabs-post li a:hover{
    background: #0c834a;
    text-decoration: none;
    color:#fff;
    opacity:0.8;
}
.cover-tab-post{
    float: left;
    width: 100%;
    margin-top: 5px;
}
.cover-tab-post .info-01 ul.final-ul{
    border:none;
}
.cover-tab-post .info-01 ul{
    list-style: none;
    float: left;
    width: 30%;
    border-right: 1px solid green;
    padding-left: 20px;
}
.cover-tab-post .info-01 ul li{
    float: left;
    width: 100%;
}
.cover-tab-post .info-01 ul li p{
    margin: 0px;
    line-height: 25px;
}
.cover-tab-post .mo-ta{
    float: left;
    width: 100%;
    text-align: justify;
    background: #ededed;
    padding: 1px 10px;
    line-height: 23px;
    margin-top: 5px;
    max-height: 150px;
    overflow: auto;
    margin-bottom: 0px;
}
.cover-tab-post .price{
    float: left;
    width: 100%;
    border: 1px solid #0c834a;
    margin-top: 10px;
}
.cover-tab-post .price .p-price{
    float: left;
    font-size: 16px;
    background: #0c834a;
    color: #fff;
    height: 40px;
    padding: 10px 30px;
    margin: 0px;
}
.cover-tab-post .price .p-address{
    float: left;
    padding: 10px 5px 0px 10px;
    width: 48%;
    height: 40px;
    line-height: 18px;
    border-right: 1px solid #0c834a;
    margin-bottom: 0px;
}
.cover-tab-post .price .p-phone{
    float: left;
    padding: 9px;
    margin-bottom: 0px;
}
.cover-tab-post .price .p-phone span{
    color: #0c834a;
    font-size: 16px;
}
.cover-img-post{
    float: left;
    width: 100%;
}
.cover-img-post img{
    float: left;
    height: 130px;
    width: 20%;
}
.related-post{
    float: left;
    width: 100%;
    border-top: 2px dotted #0c834a;
    margin-top: 20px;
    bottom:4px;
}
.related-post p.title-related-post{
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 3px;
}
.related-post p.title-related-post img{
    width:11px;
}
#tab4 .p-thuoc-tinh-post{
    margin-top: 15px !important;
}
#tab2 .p-thuoc-tinh-post, #tab4 .p-thuoc-tinh-post{
    float: left;
    width: 100%;
    text-transform: uppercase;
    font-size: 14px;
    border-bottom: 1px solid #0c834a;
    color: #0c834a;
    margin-top: 5px;
    font-weight:600;
}
#tab3 .checkbox-inline{
    padding: 6px 0px;
}
.checkbox-inline span{
    width: 100px;
    float: left;
}
.checkbox-inline{
    margin-right: 2vw;
    cursor: default;
    padding: 2px 0px;
    margin-left: 0px !important;
}
.checkbox-inline input{
    margin-left: 5px !important;
    cursor: default !important;
}
.list-related-post{
    float: left;
    width: 100%;
    margin-top: 0px;
    padding-top: 7px;
}
.list-related-post .item{
    float: left;
    margin-left: 10px;
    width: 275px;
}
.list-related-post .item img{
    float: left;
    height: 45px;
    margin-top: 7px;
    width: 55px;
}
.list-related-post .item .caption{
    float: left;
    width: 210px;
    margin-left: 6px;
    border-right: 2px dotted #0c834a;
    height: 55px;
}
.list-related-post .item .caption h3{
    font-size: 13px;
    color: #0c834a;
    float: left;
    font-weight: 600;
    margin-top: 4px;
    text-transform: uppercase;
}
.list-related-post .item .caption p{
    float: left;
    margin-top: -8px;
    font-size: 13px;
    width: 100%;
}
.header-free-post{
    float: left;
    width: 100%;
    text-align: center;
}
.header-free-post .avatar-free-post{
    width: 90px;
    margin-top: 10px;
}
.header-free-post .user-name-free-post{
    color: #0c834a;
    text-transform: uppercase;
}
.header-free-post .user-name-free-post .line-free-post{
    width: 50px;
    border-top: 1px solid #0c834a;
}
.error-valid {
    font-style: italic;
    color: rgba(255, 0, 0, 0.86);
    float: left;
    font-size: 12px;
    margin-bottom: -15px;
}
.welcome-user{
    float: left;
    color: #0c834a;
    margin-top: 15px;
    margin-right: 5px;
    font-style: italic;
    font-size:1vw;
}
.alert-update-success{
    float: left;
    padding:5px;
    margin-bottom: 0px;
    display: none;
    width: 95%;
}
.item-support-page{
    float: left;
    width: 48%;
    height:105px;
    border: 1px solid #ccc;
    margin-left: 10px;
    margin-bottom: 10px;
}
.item-support-page img{
    float: left;
    width: 25%;
    height: 103px;
}
.item-support-page .cover-info-support{
    float: left;
    margin-left: 5px;
    width: 72%;
}
.item-support-page .cover-info-support h4{
    float: left;
    text-transform: uppercase;
    width: 100%;
    color: #0c834a;
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
}
.item-support-page .cover-info-support .p-phone{
    color: #0c834a;
    font-size: 15px;
    margin-top: 2px;
}
.item-support-page .cover-info-support p{
    margin: -7px 0px 0px 0px;
    font-size: 13px;
    float: left;
    width: 100%;
}
.form-filter-support-car{
    text-align: center;
    margin-bottom: 20px;
}
.form-filter-support-car .select-city{
    height: 34px;
    width: 300px;
    color: #585858;
    background: #f5f5f5;
    border: 1px solid rgba(204, 204, 204, 0.24);
}
.cover-tab-free ul{
    float: left;
    width: 100%;
    margin-left: 0px !important;
    padding-left: 0px !important;
}
.cover-tab-free ul li{
    list-style: none;
    width: 100%;
    float: left;
    margin-top: 10px;
}
.p-title-area{
    color: #0c834a;
    font-size: 15px;
    border-left: 7px solid #0c834a;
    padding-left: 5px;
    float: left;
    width: 100%;
    margin-top: 10px;
    border-bottom: 1px dotted #0c834a;
}
.common-info{
    width: 100%;
    text-align: center;
 }
.common-info .cover-div-first{
    float: left;
    width: 100%;
    padding: 20px 0px;
}
.common-info .cover-div-first .div-one{
    width: 36%;
    float: left;
}
.common-info .cover-div-first .div-two{
    width: 36%;
    float: left;
}
.common-info .cover-div-first .div-three{
    width: 28%;
    float: left;
}
.common-info .cover-div-first label{
    font-weight: normal;
    float: left;
    margin-top: 5px;
}
.common-info .cover-div-first .cover-radio{
    float: right;
}
.div-post-normal{
    float: left;
    width: 100%;
    padding: 15px 0px;
    display: block;
}
.div-post-normal ul{
    padding-left: 0px;
}
.div-post-normal ul li{
    list-style: none;
    width: 100%;
    float: left;
    line-height: 35px;
}
.div-post-normal ul li label{
    float: left;
    font-weight: normal;
    width: 12.5%;
}
.div-post-normal ul li .inp-price{
    height: 31px;
    width: 12vw;
}
.div-post-normal ul li .code{
    height: 31px;
    width: 7vw;
    float: left;
    margin-right: 5px;
    padding-left: 4px;
}
.div-post-normal ul li .img-cap{
    height: 31px;
    width: 4.7vw;
    float: left;
}
.div-bottom{
    text-align: center;
}
.div-bottom p{
    color: #cb000a;
    float: left;
}
.common-info .cover-div-first .calendar-inp{
    height: 31px;
    width: 12vw;
    background: url(../images/icon-calendar.png) 100% / 31px no-repeat !important;
    border: 1px solid #ccc;
    padding-left: 4px;
}
.div-post-vip .div-item-vip-post{
    width: 33.3%;
    float: left;
}
.div-post-vip{
    float: left;
    width: 100%;
    display: none;
    padding: 15px 0px;
}
.div-post-vip ul{
    padding-left: 0px;
}
.div-post-vip ul li{
    float: left;
    width: 100%;
    list-style: none;
    margin-bottom: 15px;
}
.div-post-vip .div-item-vip-post label{
    font-weight: normal;
    float: left;
    width: 6vw;
}
.div-post-vip .div-item-vip-post .inp-normal{
    height: 31px;
    width: 13vw;
}
.div-post-vip .div-item-vip-post .code{
    height: 31px;
    width: 8vw;
    float: left;
    margin-right: 5px;
    padding-left: 4px;
}
.div-post-vip .div-item-vip-post .img-cap{
    height: 31px;
    width: 4.7vw;
    float: left;
}
.common-info .post-normal{
    color: #0c834a;
    font-weight: bold;
}
.common-info .post-vip1{
    color: #004cab;
    font-weight: bold;
}
.common-info .post-vip2{
    color: #ff6600;
    font-weight: bold;
}
.common-info .post-vip-pro{
    color: #ff0000;
    font-weight: bold;
}
.cover-tab-free ul li .item-cover-one{
    float: left;
    width: 33.3%;
}
.cover-tab-free ul li label{
    font-weight: normal;
    float: left;
    margin-top: 6px;
}
.cover-tab-free ul li .item-cover-one .free-post-input{
    width: 13vw;
    height: 31px;
    padding-left: 4px;
    float: right;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../images/icon-selectbox.png) 100% / 31px no-repeat !important;
}
.cover-tab-free ul li .item-cover-two{
    width: 66.6%;
    float: left;
}
.cover-tab-free ul li .free-post-inp-text{
    float: right;
    width: 13vw;
    height: 31px;
    padding-left: 4px;
}
.cover-tab-free ul li .inp-tieu-thu{
    width: 15vw;
}
.cover-tab-free ul li .inp-address{
    width: 31vw;
}
.cover-tab-free ul li .mar-right{
    margin-left: 2vw;
    font-weight: normal;
}
.cover-tab-free ul li .upload-image{
    position: absolute;
    height: 140px;
    width: 100px;
    overflow: hidden;
    padding-left: 100px;
    cursor: pointer;
}
.cover-tab-free ul li .img-upload-1{
    bottom: 3px;
    left: 1px;
}
.cover-tab-free ul li .img-upload-2{
    bottom: 3px;
}
.cover-tab-free ul li .img-upload-3{
    bottom: 3px;
}
.cover-tab-free ul li .img-upload-4{
    bottom: 3px;
}
.cover-tab-free ul li .img-upload-5{
    bottom: 3px;
}
.cover-tab-free ul li .cover-inp-upload{
    float: left;
    width: 19.5%;
    padding: 2px;
    position: relative;
}
.cover-tab-free ul li .cover-inp-upload img{
    width: 100%;
}
.btn-next-free-post{
    background: #0c834a;
    border: none;
    padding: 10px 50px;
    color: #fff;
    border-radius: 5px;
}
.btn-next-free-post:hover{
    opacity: 0.8;
}
.p-descript{
    color:#0c834a;
    margin-top: 16px;
    font-size: 16px;
}
.parent-img-upload{
    width: 550px;
    margin: 0px auto;
}
.inp-filter{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;       /* remove default arrow */
    background: url(../images/icon-arrow-filter.png) 99% / 9px no-repeat !important;
    padding-left: 5px !important;
}
.scroll-ads{
    float: left;
    width: 100%;
    margin-top: 10px;
}
.scroll-ads .item-ads{
    margin-bottom: 10px;
}
.scroll-ads .img-ads{
    width:100%;
}
.scroll-ads .item-ads a:hover{
    opacity: 0.8;
}