.map-container{
	position: relative;
	width: 100%;
	padding: 0px;
}
.map-container .map-search{
	/*style div map-search*/
	padding-top: 10px;
	padding-bottom: 10px;
}
.map-container .map-in{
	/*style cho input*/
	width: 82%;
}
.map-search .map-search-btn{
	/*style cho button search*/
	margin-left: 8px;
	background: #d66500;
	color: white;
}
.map-container .map-button{
	/*style div map-button*/
	width: 100%;
	float: left;
	padding-left: 0px;
	padding-right: 0px;
}
.map-container .map-btn{
	width: 100%;
	/*style cho button*/
	background: #0c834a;
	color: white;
}
.map-container .map-content{
	/*style map content*/
	min-width: 100%;
	height: 500px;
	background: #555;
	padding-bottom: 10px 
}
.map-icon-label .map-icon {
	font-size: 24px;
	color: #FFFFFF;
	line-height: 48px;
	text-align: center;
	white-space: nowrap;
}